version: 2
updates:
- package-ecosystem: nuget
  directories:
    - "src/Pure.Diagram.RichRelationalModel.EFCore.Models.Configurations"
    - "src/Tests/Pure.Diagram.RichRelationalModel.EFCore.Models.Configurations.Tests"
  schedule:
    interval: daily
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
